.randomClass{
    text-align: center;
}

/* .classContent{
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    width: 76%;
    height: 90%;

} */

.randomClass{
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -30px;
    width: 76%;
    height: 90%;
    padding-bottom: 20px;
}
body{
    background-image: url("backgrounnd.jpg");
    background-size: auto;
}

nav{
    background-color: black;
    color: white !important; 
}

nav .navbar-nav li a{
    color: white !important;
    }

    nav .navbar-nav li a:hover{
        color: #ff8a00 !important;
        }
.updates{
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 1%;
    color: black;
    padding: 1%;
    margin-left: 12%;
    margin-right: 12%;
    /* margin-top: 20px;; */
    width: 76%;
    height: 90%;
    /* margin-bottom: -300px; */
}

.myButton{
    padding-top: 1%;
    display: flex;
  justify-content: center;
}

.updateText{
    text-align: center;
}

.logo{
    width: 50px;
}

.btn-primary, .btn-primary:active {
    background-color: #ff8a00 !important;
    border: 2px solid white !important;
}

.btn-primary:hover{
    background-color: black !important;
}
